# exclude these files
results/*
resources/*
data/downloaded_data/*
data/linking_tool
data/store/*

# include these from hidden partially ignored folders
!results/.keep
!resources/.keep

workflow/scripts/__pycache__
__pycache__
*/__pycache__
workflow/scripts/__pycache__
*.pyc
workflow/scripts/__pycache__

