# exclude these files
results/*
resources/*
data/downloaded_data/*
data/linking_tool
data/store/*

# include these from hidden partially ignored folders
!results/.keep
!resources/.keep

workflow/scripts/__pycache__
pypsa_bc/__pycache__
pypsa_bc/vis/__pycache__/*.pyc
notebooks/
*/*/__pycache__
Z_legacy
logs

data/processed_data
.gitignore
src/pypsa_bc/data/__pycache__/*
src/pypsa_bc/reporting/__pycache__/*.pyc
